<h1 class="text-3xl font-bold text-primary mb-8">Edit account</h1>
<%= form_with model: @account do |f| %>
  <%= render partial: "form", locals: { f: } %>
<% end %>

<%= render "shared/manage_section", title: "Manage this account" do %>
  <% platform = PublishesCrosspost::MatchesPlatformApi.new.match(@account) %>
  <% if platform.renewable? && platform.renewal_url_supported? %>
    <%= link_to "Renew Credentials", renew_credentials_account_path(@account), class: "#{button_class_pack(:info)} block text-center" %>
  <% end %>
  
  <%= render "shared/delete_button",
      path: account_path(@account),
      confirm_message: "Are you sure you want to delete this account? This will permanently delete the account and all #{@account.crossposts.count} associated crosspost(s). This action cannot be undone.",
      label: "Delete Account" %>
<% end %>
